@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: Open Sans, sans-serif;
    background-color: rgb(22, 22, 22);
}

/* COMPONENTS */

header img{
    padding: 20px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin-left: 37%;
}

.nosotros-div{
    width: 300px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 42.5%;
}

.nosotros-div a{
        /* Flexbox styling */
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
        
        /* Color */
    color: whitesmoke;
    background-color: black;
        
        /* Sizing */
    padding: 0.5em;
    border-radius: 2em;

    letter-spacing: 15px;
}

/* CLOSED COMPONENTS */

.hero h1{
    text-align: center;
    color: whitesmoke;
    margin: 30px;
}