/*Base Config*/

@font-face {
    font-family: 'Mofulina';
        src: url('../src/font/mofulina/Mofulina.otf') format('opentype');
}


:root{
    /*Fonts*/
    --mainfont: Mofulina;
    --secondfont: Calibri;
    /*Colors*/
    --maincolor: Red;
    --secondcolor: Yellow;
}

/*Close Config*/


/*Nav Bar Settings*/
a, li{
    text-decoration: none;
    list-style-type: none;
    color: whitesmoke;
    font-family: var(--mainfont);
}

nav{
    height: 65px;
}

.logotype{
    display: inline-block;
    flex-wrap: nowrap;
    position: absolute;
}

.navigation{
    justify-content: center;
    margin-left: 350px;
    margin-top: 0;
}

.navigation, li{
    float: left;
}

.navigation, a{
    padding-left: 50px;
    padding-top: 38px;
    color: red;
}

.logo{
    height: 65px;
}

