/*Base Config*/

@font-face {
    font-family: 'Mofulina';
        src: url('../src/font/mofulina/Mofulina.otf') format('opentype');
}


:root{
    /*Fonts*/
    --mainfont: Mofulina;
    --secondfont: Calibri;
    /*Colors*/
    --maincolor: whitesmoke;
    --secondcolor: Yellow;
}

/*Close Config*/

body{
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh; 
}

/* linear-gradient(rgb(97, 97, 97), rgb(7, 7, 7));*/